[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExpBites"]
	path = ExpBites
	url = https://github.com/nmoiroux/expbites
[submodule "InsectLabelR"]
	path = InsectLabelR
	url = https://github.com/nmoiroux/insectlabelr
[submodule "ecoXCorr"]
	path = ecoXCorr
	url = https://github.com/nmoiroux/ecoxcorr
[submodule "mfclim"]
	path = mfclim
	url = https://github.com/nmoiroux/mfclim
